<h2>
  <%= @wiki.title %>
  <% if is_private?(@wiki) %>
    - Private
  <% end %>
</h2>

<div class="row">
  <div class="col-md-8">
    <p>by: <%= @wiki.user.email %></p>
    <br />
    <h4><%= markdown(@wiki.body) %></h4>
  </div>

  <div class="col-md-4">
    <%= link_to "Edit", edit_wiki_path(@wiki), class: "btn btn-success" %>
    <%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this post?' } %>
    <br />
    <br />
    <% all_users.each do |user| %>
      <% unless user == current_user || user.admin? %>
        <%= render partial: 'collaborators/collaborator', locals: {wiki: @wiki, user: user} %>
      <% end %>
    <% end %>
  </div>
</div>
